<div class="container mt-3">
  <form>
    <h4>Upload file:</h4>
    <input type="file" id="myFile" name="filename2" (change)="fileChanged($event)">

    <div class="mt-3">
      <button type="button" class="btn btn-primary" (click)="uploadDocument()">Show Data</button>
    </div>
  </form>
  <table class="table table-bordered table-hover" *ngFor="let score of data">
    <thead>
      <tr>
        <th scope="col" colspan="2" class="table-heading"><h2>{{score.series}}</h2></th>
      </tr>
      <tr>
        <th scope="col">year</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let scores of score.array">
        <th scope="row">{{scores.year}}</th>
        <td>{{scores.score}}</td>
      </tr>
    </tbody>
  </table>
</div>